.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 574px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/pexels-photo-5335225.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 574px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 186px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 15.625rem;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 0 -117px;
}

.u-section-1 .u-text-4 {
  margin: 179px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 473px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 60px;
  }

  .u-section-1 .u-text-3 {
    line-height: 0.8;
    width: auto;
    margin-top: 51px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 148px;
    margin-left: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: -126px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 38px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 557px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 229px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 168px;
  }

  .u-section-1 .u-text-3 {
    font-size: 12.5rem;
  }
}